@import "tailwindcss";

@font-face {
  font-family: "Bellefair";
  src: url("/fonts/Bellefair-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BarlowCondensed";
  src: url("/fonts/Barlow/BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@theme {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;

  /* container */
  --container: 100%;
  --container-sm: 327px; /* Mobile (375px - 24px * 2) */
  --container-md: 728px; /* Tablet (768px - 40px * 2) */
  --container-lg: 1110px; /* Desktop (1440px - 165px * 2) */

  /* colors */
  --color-blue-300: #d0d6f9;
  --color-blue-900: #0b0d17;
  --color-white: #ffffff;
  /* fonts  */
  --font-primary: "Bellefair", serif;
  --font-secondary: "Barlow", sans-serif;
  --font-tertiary: "BarlowCondensed", sans-serif;

  /* desctop sizes */
  --text-desctop-preset-1: 144px;
  --text-desctop-preset-2: 96px;
  --text-desctop-preset-3: 56px;
  --text-desctop-preset-4: 32px;
  --text-desctop-preset-5: 28px;
  --text-desctop-preset-6: 28px;
  --text-desctop-preset-7: 16px;
  --text-desctop-preset-8: 14px;
  --text-desctop-preset-9: 18px;

  /* tablet sizes */
  --text-tablet-preset-2: 80px;
  --text-tablet-preset-3: 40px;
  --text-tablet-preset-4: 24px;
  --text-tablet-preset-5: 20px;
  --text-tablet-preset-9: 16px;

    /* mobile sizes */
    --text-mobile-preset-1: 80px;
    --text-mobile-preset-2: 56px;
    --text-mobile-preset-3: 24px;
    --text-mobile-preset-4: 18px;
    --text-mobile-preset-6: 18px;
    --text-mobile-preset-8: 14px;
    --text-mobile-preset-9: 15px;
}
body {
  font-family: var(--font-primary);
}
